{% extends "layout.html" %}

{% block title %}All chunks{% endblock %}

{% block content %}
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for chunk in chunks %}
    <tr>
      <td>{{ chunk.name }}</td>
      <td>{{ chunk.created_by }}</td>
      <td>{{ chunk.created_at.toDateString() }}</td>
      <td>{{ chunk.updated_at.toDateString() }}</td>
      <td><a href="/chunk/{{ chunk.name }}" class="btn btn-info btn-xs" role="button">Edit chunk</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a href="/chunk/new" class="btn btn-info btn-xs" role="button">Add new chunk</a>
</div>
{% endblock %}