{% extends "layout.html" %}

{% block title %}Edit chunk '{{ chunk.name }}'{% endblock %}

{% block content %}
<h1>Create a new chunk</h1>
<form name="chunkForm" action="/chunk/{{ chunk.name }}" method="put" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label lead">Name:</label>
	  	<div class="col-sm-10">
			<input type="text" id="name" name="name" value="{{ chunk.name }}" class="form-control input-lg" >
	  	</div>
	</div>
	<div class="form-group">
		<label for="created_by" class="col-sm-2 control-label lead">Created by:</label>
	  	<div class="col-sm-10">
			<input type="readonly" id="created_by" name="created_by" value="{{ chunk.created_by }}" class="form-control input-lg" >
	  	</div>
	</div>
	<div class="form-group">
		<label for="created_at" class="col-sm-2 control-label lead">Created at:</label>
	  	<div class="col-sm-10">
			<input type="readonly" id="created_at" name="created_at" value="{{ chunk.created_by.toDateString() }}" class="form-control input-lg" >
	  	</div>
	</div>
	<div class="form-group">
		<label for="updated_at" class="col-sm-2 control-label lead">Updated at:</label>
	  	<div class="col-sm-10">
			<input type="readonly" id="updated_at" name="updated_at" value="{{ chunk.updated_at.toDateString() }}" class="form-control input-lg" >
	  	</div>
	</div>
	<div class="form-group">
		<label for="content" class="col-sm-2 control-label lead">Content:</label>
	  	<div class="col-sm-10">
	  		<textarea id="content" name="content" class="form-control input-lg">
	  			{{ chunk.content}}
	  		</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10">
	  		<input type="submit" value="Add chunk" class="btn btn-primary btn-lg">
		</div>
	</div>
</form>
{% endblock %}